$bg-color: #92e792;
$bg-header: #5ce75c;

$text-color: #333;

$link-color: #036303;
$link-hover-color: #12b812;
$link-hover-bg: #036303;

$border-radius: 0.25rem;
$border-color: #12b812;
$border-width: 2px;

// Small tablets and large smartphones (landscape view) 0  - 576
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
